.sky-scene {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: linear-gradient(to top, #87ceeb, #b0e0e6);
    /* Blueish sky */
}

.sky-scene_rain {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: linear-gradient(to top, #3e5c68, #b0e0e6);
    /* Blueish sky */
}

.sky-scene_eve {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: linear-gradient(to top, #d0f9ff, #f3ca7e);
    /* Blueish sky */
}

.sky_day {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.birds {
    position: absolute;
    top: 10%;
    left: 40%;
    width: 100px;
    height: 100px;
    animation: flyRight 35s linear infinite;
}

@keyframes flyRight {
    0% {
        left: -10%;
    }

    100% {
        left: 110%;
    }
}

.sun {
    position: absolute;
    top: 10%;
    left: 80%;
    width: 120px;
    height: 120px;
    background: #ffcc00;
    border-radius: 50%;
    box-shadow: 0 0 60px rgba(255, 204, 0, 0.5);
    animation: rotate 20s linear infinite;
    transition: box-shadow 0.3s ease-in-out;
}


.sun:hover {
    box-shadow: 0 0 100px rgba(255, 204, 0, 1);
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.cloud {
    position: absolute;
    background: transparent;
    opacity: 0.2;
    border-radius: 50%;
    box-shadow: 0 0 30px rgba(255, 255, 255, 0);
    width: 430px;
    height: 200px;
    animation: float 10s ease-in-out infinite;
}

.cloud_rain {
    position: absolute;
    background: transparent;
    opacity: 0.9;
    border-radius: 50%;
    box-shadow: 0 0 30px rgba(255, 255, 255, 0);
    width: 430px;
    height: 200px;
    animation: float 10s ease-in-out infinite;
}

.cloud1 {
    top: 0%;
    left: 20%;
    width: 470px;
    height: 220px;
}

.cloud2 {
    top: 5%;
    left: 60%;
    width: 380px;
    height: 210px;
}

.cloud3 {
    top: 20%;
    left: 80%;
    width: 370px;
    height: 180px;
}

.cloud1_rain {
    top: 3%;
    left: 17%;
    width: 650px;
    height: 220px;
}

.cloud2_rain {
    top: 5%;
    left: 56%;
    width: 580px;
    height: 210px;
}

.cloud3_rain {
    top: 10%;
    left: 77%;
    width: 470px;
    height: 180px;
}

.cloud4_rain {
    top: 12%;
    left: 40%;
    width: 400px;
    height: 180px;
}

.cloud5_rain {
    top: 10%;
    left: 0%;
    width: 500px;
    height: 180px;
}

.cloud6_rain {
    top: 3%;
    left: 92%;
    width: 260px;
    height: 180px;
}

@keyframes float {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(-30px);
    }

    100% {
        transform: translateX(0);
    }
}

.mountains {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 80%;
    overflow: hidden;
}

.mountain {
    position: absolute;
    bottom: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-radius: 20px;
}

.mountain1 {
    border-width: 0 350px 400px 350px;
    border-color: transparent transparent #556B2F transparent;
    left: -10%;
}

.mountain2 {
    border-width: 0 450px 500px 450px;
    border-color: transparent transparent #73995a transparent;
    left: 10%;
}

.mountain3 {
    border-width: 0 450px 500px 450px;
    border-color: transparent transparent #6B8E23 transparent;
    left: 40%;
}


.mountain4 {
    border-width: 0 350px 400px 350px;
    border-color: transparent transparent #8FBC8F transparent;
    left: 70%;
}


.mountains_night {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 80%;
    overflow: hidden;
}

.mountain_night {
    position: absolute;
    bottom: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-radius: 20px;
}

.mountain1_night {
    border-width: 0 350px 400px 350px;
    border-color: transparent transparent #111110 transparent;
    left: -10%;
}

.mountain2_night {
    border-width: 0 450px 500px 450px;
    border-color: transparent transparent #151615 transparent;
    left: 10%;
}

.mountain3_night {
    border-width: 0 450px 500px 450px;
    border-color: transparent transparent #1f2219 transparent;
    left: 40%;
}


.mountain4_night {
    border-width: 0 350px 400px 350px;
    border-color: transparent transparent #131813 transparent;
    left: 70%;
}



/* Rain Animation */
.rain {
    position: absolute;
    top: 20%;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 2;
    /* Make sure it appears above other elements */
}

.raindrop {
    position: absolute;
    bottom: 100%;
    width: 2px;
    height: 15px;
    background: rgba(255, 255, 255, 0.5);
    animation: fall linear infinite;
}

@keyframes fall {
    to {
        transform: translateY(100vh);
    }
}

@keyframes sway {
    0% {
        transform: translateX(10px);
    }
}

.raindrop:nth-child(odd) {
    animation-duration: 0.7s;
    animation-timing-function: linear;
    animation-delay: 0.1s;
    animation-name: fall, sway;
}

.raindrop:nth-child(even) {
    animation-duration: 0.7s;
    animation-timing-function: linear;
    animation-delay: 0.1s;
    animation-name: fall, sway;
}

/* Lightning Flash Animation */
@keyframes lightning-flash {

    0%,
    97%,
    100% {
        opacity: 0;
    }

    98%,
    99% {
        opacity: 1;
    }
}

.lightning-flash {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.357);
    opacity: 0;
    z-index: 4;
    /* Make sure it appears above other elements */
    animation: lightning-flash 8s infinite;
}

/* Lightning Zigzag Animation */
@keyframes lightning-zigzag {

    0%,
    97%,
    100% {
        opacity: 0;
        transform: scale(0);
    }

    98%,
    99% {
        opacity: 1;
        transform: scale(1);
    }
}

.lightning-zigzag {
    position: absolute;
    top: 35%;
    left: 50%;
    width: 10px;
    height: 100px;
    background: yellow;
    opacity: 0;
    z-index: 5;
    /* Make sure it appears above the flash */
    animation: lightning-zigzag 8s infinite;
}

.lightning-zigzag::before,
.lightning-zigzag::after {
    content: '';
    position: absolute;
    width: 10px;
    height: 100px;
    background: yellow;
    opacity: 0;
    animation: lightning-zigzag 8s infinite;
}

.lightning-zigzag::before {
    transform: rotate(45deg);
    top: -50px;
    left: -5px;
}

.lightning-zigzag::after {
    transform: rotate(-45deg);
    top: -50px;
    left: 5px;
}


@media (min-width: 1366px) {

    .cloud {
        position: absolute;
        background: transparent;
        opacity: 0.3;
        border-radius: 50%;
        box-shadow: 0 0 30px rgba(255, 255, 255, 0);
        width: 430px;
        height: 200px;
        animation: float 10s ease-in-out infinite;
    }

    .cloud_rain {
        position: absolute;
        background: transparent;
        opacity: 0.9;
        border-radius: 50%;
        box-shadow: 0 0 30px rgba(255, 255, 255, 0);
        width: 430px;
        height: 200px;
        animation: float 10s ease-in-out infinite;
    }

    .cloud1 {
        top: 0%;
        left: 20%;
        width: 200px;
        height: 160px;
    }

    .cloud2 {
        top: 5%;
        left: 60%;
        width: 200px;
        height: 160px;
    }

    .cloud3 {
        top: 20%;
        left: 80%;
        width: 200px;
        height: 140px;
    }

    .cloud1_rain {
        top: 3%;
        left: 20%;
        width: 230px;
        height: 140px;
    }

    .cloud2_rain {
        top: 5%;
        left: 57%;
        width: 230px;
        height: 130px;
    }

    .cloud3_rain {
        top: 10%;
        left: 73%;
        width: 220px;
        height: 130px;
    }

    .cloud4_rain {
        top: 8%;
        left: 35%;
        width: 290px;
        height: 150px;
    }

    .cloud5_rain {
        top: 5%;
        left: 1%;
        width: 270px;
        height: 140px;
    }

    .cloud6_rain {
        top: 3%;
        left: 88%;
        width: 260px;
        height: 180px;
    }

    @keyframes float {
        0% {
            transform: translateX(0);
        }

        50% {
            transform: translateX(-30px);
        }

        100% {
            transform: translateX(0);
        }
    }

}


@media (min-width: 1920px) {

    .cloud {
        position: absolute;
        background: transparent;
        opacity: 0.3;
        border-radius: 50%;
        box-shadow: 0 0 30px rgba(255, 255, 255, 0);
        width: 430px;
        height: 200px;
        animation: float 10s ease-in-out infinite;
    }

    .cloud_rain {
        position: absolute;
        background: transparent;
        opacity: 0.9;
        border-radius: 50%;
        box-shadow: 0 0 30px rgba(255, 255, 255, 0);
        width: 430px;
        height: 200px;
        animation: float 10s ease-in-out infinite;
    }

    .cloud1 {
        top: 0%;
        left: 20%;
        width: 470px;
        height: 220px;
    }

    .cloud2 {
        top: 5%;
        left: 60%;
        width: 380px;
        height: 210px;
    }

    .cloud3 {
        top: 20%;
        left: 80%;
        width: 370px;
        height: 180px;
    }

    .cloud1_rain {
        top: 3%;
        left: 20%;
        width: 350px;
        height: 220px;
    }

    .cloud2_rain {
        top: 5%;
        left: 54%;
        width: 380px;
        height: 210px;
    }

    .cloud3_rain {
        top: 10%;
        left: 73%;
        width: 320px;
        height: 180px;
    }

    .cloud4_rain {
        top: 10%;
        left: 37%;
        width: 340px;
        height: 180px;
    }

    .cloud5_rain {
        top: 9%;
        left: 0%;
        width: 411px;
        height: 180px;
    }

    .cloud6_rain {
        top: 3%;
        left: 88%;
        width: 260px;
        height: 180px;
    }

    @keyframes float {
        0% {
            transform: translateX(0);
        }

        50% {
            transform: translateX(-30px);
        }

        100% {
            transform: translateX(0);
        }
    }

}


@media (min-width: 2560px) {

    .cloud {
        position: absolute;
        background: transparent;
        opacity: 0.3;
        border-radius: 50%;
        box-shadow: 0 0 30px rgba(255, 255, 255, 0);
        width: 430px;
        height: 200px;
        animation: float 10s ease-in-out infinite;
    }

    .cloud_rain {
        position: absolute;
        background: transparent;
        opacity: 0.9;
        border-radius: 50%;
        box-shadow: 0 0 30px rgba(255, 255, 255, 0);
        width: 430px;
        height: 200px;
        animation: float 10s ease-in-out infinite;
    }

    .cloud1 {
        top: 0%;
        left: 20%;
        width: 470px;
        height: 270px;
    }

    .cloud2 {
        top: 5%;
        left: 60%;
        width: 450px;
        height: 260px;
    }

    .cloud3 {
        top: 20%;
        left: 80%;
        width: 490px;
        height: 240px;
    }

    .cloud1_rain {
        top: 5%;
        left: 17%;
        width: 580px;
        height: 280px;
    }

    .cloud2_rain {
        top: 5%;
        left: 56%;
        width: 580px;
        height: 320px;
    }

    .cloud3_rain {
        top: 7%;
        left: 77%;
        width: 470px;
        height: 280px;
    }

    .cloud4_rain {
        top: 8%;
        left: 40%;
        width: 480px;
        height: 280px;
    }

    .cloud5_rain {
        top: 6%;
        left: 0%;
        width: 480px;
        height: 280px;
    }

    .cloud6_rain {
        top: 2%;
        left: 92%;
        width: 260px;
        height: 180px;
    }

    @keyframes float {
        0% {
            transform: translateX(0);
        }

        50% {
            transform: translateX(-30px);
        }

        100% {
            transform: translateX(0);
        }
    }

}